<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>

    <ul>
        <li><a href="/input/">Display</a></li>
        <li><a href="/input/PostInput">Input</a></li>
    </ul>

    <h1>Input</h1>
    <form action="/input/PostInput" method="post">
        <input type="text" name="Input1" placeholder="Input1">
        <input type="text" name="Input2" placeholder="Input2">
        <Button>Submit</Button>
    </form>
</body>
</html>